<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/vendor/javascripts/jquery-2.1.1.js"></script>
    <script src="/javascripts/util.js"></script>
    <script src="/javascripts/custom-scroll-bar.js"></script>
    <script src="/javascripts/bfg-grid.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bfg-grid.css' />
  </head>
  <body>
    <div class="container">
        <div class="bfg-grid"></div>
    </div>
  </body>
</html>
